body {
    margin: 0;
}
/* .module1 {

} */
h1 {
    display: inline-block;
    width: 33%;
    margin: 0 2% 15%;
    vertical-align: bottom;
    font-family: 'Montserrat',sans-serif;
    color: #7B9E0E;
    font-size: 400%;
    text-align: right;
}
.home-img {
    width: 60%;
}
