body {
    margin: 0;
}
h1 {
    margin: 0;
}
.top-module {
    background-color: blue;
    height: 27.333vh;
    padding: 3vh;
}
.middle-module {
    background-color: green;
    height: 27.333vh;
    padding: 3vh;
}
.bottom-module {
    background-color: red;
    height: 27.333vh;
    padding: 3vh;
}
